div{
    width:260px;
    height: 200px;
    border-style: solid;
    border-width: thin;
    border-radius: 12px;
    border-color: lightgray;
    padding: 30px;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h1{
    text-align: center ;
    color: rgb(39, 215, 95);
    position: relative;
    top: 80px;
}
#email{
    width: 250px;
    height: 25px;
}
#password{
    width: 250px;
    height: 25px;
}
#login{
    width: 260px;
    height: 30px;
    border-style: solid;
    border-width: thin;
    background-color: rgb(39, 215, 95);
    border-radius: 5px;
    color: white;
}